body {
  font-family: "Lato", sans-serif;
}

.content {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-family: "Abril Fatface", cursive;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

.scroll a {
  display: flex;
  margin-top: 50px;
  margin-bottom: 170px;
}
.scroll a img {
  width: 32px;
}
.scroll a p {
  font-weight: bold;
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}

.swiper-button-next img {
  transform: rotate(180deg);
}

@media (max-width: 1255px) {
  img {
    width: 80%;
  }
  .scroll {
    display: none;
  }
}
@media (max-width: 768px) {
  .content {
    width: auto;
    margin: auto;
  }
  img {
    width: 80%;
  }
  .scroll {
    display: none;
  }
}
li {
  list-style: none;
}

footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 75px;
}
footer div {
  width: 25%;
}
footer div p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
footer div ul {
  padding-left: 0;
}
footer div ul li {
  margin-bottom: 20px;
}

@media (max-width: 1255px) {
  footer {
    padding: 0;
    width: 100%;
    display: inline-flex;
    padding-bottom: 40px;
  }
  footer div p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  footer {
    display: block;
    padding-bottom: 40px;
  }
  footer div {
    width: 80%;
    margin: auto;
  }
  footer div p {
    font-size: 20px;
  }
  footer div ul {
    display: none;
  }
}
section .name {
  color: #888888;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  section .name {
    font-size: 16px;
  }
}
header {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
header img {
  width: 160px;
}
header #openBtn {
  display: none;
}
header .sidenav {
  display: flex;
  width: 100%;
}
header .sidenav ul {
  display: flex;
  margin: auto;
}
header .sidenav ul #closeBtn {
  display: none;
}
header .sidenav ul li {
  margin: 0 20px;
}
header .sidenav ul li.actif {
  font-weight: bold;
}
header .sidenav button {
  margin-left: auto;
}

@media (max-width: 768px) {
  header {
    display: block;
    width: 80%;
    margin: auto;
  }
  header #openBtn {
    display: block;
    position: absolute;
  }
  header #openBtn img {
    width: 50%;
  }
  header .sidenav {
    display: block;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -250px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  header .sidenav ul {
    display: block;
    padding-left: 0px;
  }
  header .sidenav ul #closeBtn {
    display: block;
  }
  header .sidenav ul #closeBtn a {
    display: flex;
  }
  header .sidenav ul #closeBtn a img {
    width: 20px;
  }
  header .sidenav ul li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
  }
  header .sidenav.active {
    left: 0;
  }
  header .sidenav button {
    margin-left: 60px;
  }
  header img {
    margin: auto;
    display: block;
  }
}
button {
  font-family: "Lato", sans-serif;
  background-color: #3EFFB5;
  border-radius: 5px;
  padding: 18px 40px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: bold;
  transition: 0.4s;
}
button:hover {
  background-color: #00d785;
}

.sectionRestaurant {
  display: flex;
}
.sectionRestaurant__left {
  width: 50%;
  position: relative;
  z-index: 1;
}
.sectionRestaurant__left .name {
  margin: 180px 0 30px 0;
}
.sectionRestaurant__right {
  width: 50%;
}
.sectionRestaurant__right img {
  position: relative;
  z-index: 0;
  right: 150px;
  bottom: 50px;
  margin: 100px 0 0 0;
  box-shadow: -30px 30px 60px rgba(70, 70, 70, 0.5098039216);
  border-radius: 10px;
  transition: 0.4s;
}
.sectionRestaurant__right img:hover {
  transform: scale(1.01);
}
.sectionRestaurant__title--restaurant {
  margin: 0 0 20px 0;
  font-size: 54px;
}
.sectionRestaurant__description {
  font-size: 16px;
  width: 65%;
  opacity: 70%;
}
.sectionRestaurant__link {
  display: flex;
  align-items: center;
}
.sectionRestaurant__link--video {
  display: flex;
}
.sectionRestaurant__link--video img {
  width: 15%;
}
.sectionRestaurant__link--video p {
  font-weight: bold;
}

@media (max-width: 1255px) {
  .sectionRestaurant {
    flex-direction: column;
  }
  .sectionRestaurant #restaurant_one {
    order: 1;
  }
  .sectionRestaurant #restaurant_two {
    order: -1;
  }
  .sectionRestaurant__left {
    width: 80%;
    position: static;
    margin: auto;
  }
  .sectionRestaurant__left .name {
    margin: 30px 0 20px 0;
  }
  .sectionRestaurant__right {
    width: 100%;
  }
  .sectionRestaurant__right img {
    display: block;
    position: static;
    margin: auto;
    box-shadow: none;
    border-radius: 10px;
  }
  .sectionRestaurant__right img:hover {
    transform: none;
  }
  .sectionRestaurant__title--restaurant {
    font-size: 36px;
  }
  .sectionRestaurant__description {
    width: 100%;
  }
  .sectionRestaurant__link {
    margin: 0 0 60px 0;
  }
  .sectionRestaurant__link button {
    width: 50%;
    padding: 18px 20px;
  }
  .sectionRestaurant__link--video {
    display: flex;
    width: 50%;
    margin: auto;
  }
  .sectionRestaurant__link--video img {
    width: 40px;
  }
  .sectionRestaurant__link--video p {
    font-weight: bold;
  }
}
.sectionBestMenu {
  padding-top: 100px;
  width: 100%;
  background-color: #F6F6FB;
}
.sectionBestMenu .container {
  width: 1200px;
  margin: auto;
}
.sectionBestMenu__title {
  text-align: center;
}
.sectionBestMenu__title .name {
  margin: 0 0 20px 0;
}
.sectionBestMenu__title h1 {
  font-size: 32px;
  margin: 20px 0 60px 0;
}
.sectionBestMenu .cardSection {
  display: flex;
}
.sectionBestMenu .cardSection .card-center {
  margin: 0 20px;
}
.sectionBestMenu a:hover {
  cursor: pointer;
}
.sectionBestMenu .card {
  width: 33%;
  margin-bottom: 40px;
  transition: 0.3s;
}
.sectionBestMenu .card:hover {
  transform: scale(1.01);
}
.sectionBestMenu .card__img {
  height: 180px;
}
.sectionBestMenu .card__img img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.sectionBestMenu .card__description {
  background-color: white;
  border-radius: 10px;
  padding-bottom: 40px;
  z-index: 1;
  position: relative;
}
.sectionBestMenu .card__description h2 {
  padding-top: 40px;
  padding-left: 40px;
}
.sectionBestMenu .card__description .description {
  width: 75%;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 40px;
  opacity: 70%;
}
.sectionBestMenu .card__description .readMore {
  padding-left: 40px;
  font-weight: bold;
}

@media (max-width: 1255px) {
  .sectionBestMenu {
    width: 100%;
  }
  .sectionBestMenu .container {
    width: 80%;
    margin: auto;
  }
  .sectionBestMenu .container .cardSection {
    display: block;
  }
  .sectionBestMenu .container .cardSection .card:hover {
    transform: none;
  }
  .sectionBestMenu .container .cardSection .card__description {
    padding-bottom: 30px;
    margin-bottom: 40px;
  }
  .sectionBestMenu .container .cardSection .card__description h2 {
    font-size: 20px;
  }
  .sectionBestMenu .container .cardSection .card-center {
    margin: 0 auto 40px auto;
  }
}
.sectionAboutUs {
  display: flex;
}
.sectionAboutUs__left {
  width: 50%;
  margin-right: 127px;
  margin-bottom: 80px;
}
.sectionAboutUs__left img {
  border-radius: 30px;
}
.sectionAboutUs__right {
  margin-top: 130px;
  width: 50%;
}
.sectionAboutUs__right--title {
  width: 60%;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 0;
}
.sectionAboutUs__right--description {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 90%;
}

@media (max-width: 1255px) {
  .sectionAboutUs {
    display: block;
  }
  .sectionAboutUs__left {
    width: 80%;
    margin: auto;
  }
  .sectionAboutUs__left img {
    width: 100%;
    border-radius: 30px;
  }
  .sectionAboutUs__right {
    margin: auto;
    width: 80%;
  }
  .sectionAboutUs__right .name {
    margin: 30px 0 20px 0;
  }
  .sectionAboutUs__right--title {
    width: 90%;
    font-size: 32px;
    margin: 0 0 20px 0;
  }
  .sectionAboutUs__right--description {
    margin: 0;
    width: 100%;
    margin: 0 0 30px 0;
  }
  .sectionAboutUs__right button {
    margin: 0 0 60px 0;
  }
}

/*# sourceMappingURL=style.css.map */
