body{
  font-family: 'Lato', sans-serif;
}

.content{
  max-width: $screen-width;
  margin: auto;
}

h1{
  font-family: 'Abril Fatface', cursive;
  color: #000000;
}

a{
  text-decoration: none;
  color: #000000;
}

.scroll {
  & a {
  display: flex;
  margin-top: 50px;
  margin-bottom: 170px;

    & img {
      width: 32px;
    }

    & p {
      font-weight: bold;
    }
  }
}

.swiper-button-next::after, .swiper-button-prev::after{
  display: none;
}

.swiper-button-next{
  & img{
   transform: rotate(180deg);
  }
}

@media (max-width: $breakpoint-tablette) {
  img{
    width: 80%;
  }

  .scroll {
    display: none;
  }
}

@media (max-width: $breakpoint-mobile) {
  .content{
    width: auto;
    margin: auto;
  }

  img{
    width: 80%;
  }

  .scroll {
    display: none;
  }
}